body {
  background-color: #0E185F;
}

.title {
  text-align: center;
  color: #2FA4FF;
  font-family: 'Ubuntu', sans-serif;
  font-size: 8rem;
  padding-top: 2%;
}

.mb-3 {
  padding: 3% 18%;
  text-align: center;
}

.ddd {
  color: #E8FFC2;
  padding-top: 10px;
  padding-bottom: 15px;
}

.abc {
  color: red;
  padding-top: 10px;
  padding-bottom: 15px;
}


.final-button {
  margin-top: 2%;
}

h3 {
  color: #2FA4FF;
  padding-top: 10px;
}

h5 {
  padding-top: 10px;
  color: #fff;
}
